In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv('./dataset/merged 001.csv')

In [3]:
temp = temp[['Country', 'Continent', 'Death Rate']]

In [4]:
temp.drop_duplicates(inplace=True)

In [5]:
temp = temp.set_index('Country')

In [6]:
temp

                    Continent  Death Rate
Country
Argentina       South America      190.14
Nigeria                Africa      241.54
Thailand                 Asia      118.67
Spain                  Europe      106.88
Germany                Europe      161.49
France                 Europe       91.33
South Africa           Africa      251.41
Colombia        South America      132.62
Italy                  Europe      125.46
China                    Asia      286.84
Vietnam                  Asia      311.24
United States   North America      154.31
Japan                    Asia       77.09
Canada          North America      104.50
India                    Asia      255.26
United Kingdom         Europe      129.12
New Zealand         Australia      134.29
Brazil          South America      178.94
South Korea              Asia       95.18
Australia           Australia      106.37

In [7]:
temp.to_csv('../dataset/atlas.csv')